* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #366999;
}

.text {
  color: #000000;
}

.header h2 {
  height: 35px;
  width: 356px;
  left: 787px;
  top: 128px;
  color: #fff;
  text-align: center;
  margin: auto;
}

.logo {
  width: 200px;
  Height: 150px;
  Top: -32px;
  Left: 31px;
}

.navGrid {
  display: grid;
  max-width: min-content;
  grid-auto-flow: column;
  grid-column-gap: 4em;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  height: 10em;
  align-items: center;
}

.navList {
  display: grid;
  justify-items: center;
  grid-row-gap: 1em;
  position: relative;
  padding: 0 0.5em;
  text-decoration: none;
}

.circle {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background: #cccccc;
  z-index: 1;
  display: inline-block;
  position: relative;
}

.circle.completed{
  color: white;
  background-color: #5091CD;
}

.circle.completed::before {
  position: absolute;
  content: "";
  width: 14em;
  height: 4px;
  background: #5091CD;
  left: -3.5em;
  bottom: 15px;
  z-index: -1;
}

.content {
  text-align: center;
  margin-top: 100px;
}

#nextBtn{
  background: #366999;
  border-radius: 5px;
  margin: 30px;
  padding: 10px 18px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

/* Page2 Developed */
.container {
  width: min-content;
  height: 50%;
  background: #f2f2f2;
  padding: 20px 30px;
  position: relative;
  align-items: center;
  margin: auto;
}

.first-layer, .second-layer, .third-layer, .forth-layer {
  display: flex;
  justify-content: space-between;
  position: relative;
}

label {
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}

.input-details {
  width: 250px;
  height: 30px;
  margin: 20px 10px;
  border-radius: 5px;
}

.title-input {
  height: 30px;
  margin: 20px 0;
  border-radius: 5px;
  width: 65px;
}

.input-details-1 {
  width: 436px;
  margin: 20px 0;
  height: 30px;
  border-radius: 5px;
}

.input-details-2 {
  width: 160px;
  margin: 20px 10px;
  height: 30px;
  border-radius: 5px;

}


.colored-input {
  background: #5091CD;
  color: #fff;
}

.back {
  border-radius: 5px;
  text-decoration: none;
  color: #000000;
  margin: 30px solid #5091CD;
  background: #fff;
  cursor: pointer;
  border: #5091CD 2px solid;
  padding: 10px 18px;
  display: inline-block;
}


.next {
  background: #5091CD;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  padding: 10px 18px;
  display: inline-block;
  position: absolute;
  right: 30px;

}

/* PAGE-5 DESIGN */
.checkout-info {
  position: relative;
  text-align: center;
  margin: auto;
}

.light-text {
  color: #575656;
  margin-top: 50px;
}

.payment {
  width: 100%;
  margin-top: 50px;
}

.payment table {
  align-items: center;
  margin: auto;
  width: 60%;
}

.table-design {
  margin-right: 30px;
  padding: 10px;
}

.pay-button {
  background: #5091CD;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  padding: 10px 250px;
  display: inline-block;
  margin-top: 30px;
}

.nav-buttons {
  width: 70%;
  position: absolute;
  left: 16%;
  padding-top: 50px;
}
h2{
  margin-bottom: 10px;
}

.benefits{
  align-items: center;
  margin: auto;
  position: relative;
}

#add_benef{
  border-radius: 50%;
  background: #5091CD;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin: 30px auto;
  cursor: pointer;
  color: #fff;
}
.text_add{
  text-align: center;
  margin: 30px auto;

}
