* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  }
.header {
  background-color: #366999;
}
.text {
  color: #000000;
}
.header h2 {
  height: 35px;
  width: 356px;
  left: 787px;
  top: 128px;
  color: #fff;
  text-align: center;
  margin: auto;
}
.logo {
  width: 200px;
  Height: 150px;
  Top: -32px;
  Left: 31px;
}
.navGrid {
  display: grid;
  max-width: 1024px;
  grid-auto-flow: column;
  grid-column-gap: 6em;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  height: 10em;
  align-items: center;
}
.navList {
  display: grids;
  justify-items: center;
  grid-row-gap: 1em;
  position: relative;
  padding: 0 0.5em;
  text-decoration: none;
}

.circle {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background: #cccccc;
  z-index: 1;
}

.active {
  background: #cccccc;
}

.circle.active::before {
  position: absolute;
  content: "";
  width: 15.3em;
  height: 4px;
  background: #cccccc;
  left: -4.5em;
  bottom: 3.5em;
  z-index: -1;
}

.content {
  text-align: center;
  margin-top: 100px;
}

.btn {
  background: #366999;
  border-radius: 5px;
  margin: 30px;
  padding: 10px 18px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
/* Page2.html */
.container .first-info td{
  display: block;
}
